<p>
  Dr. Heywood is a licensed psychologist who maintains a private practice in West
Palm Beach,Florida specializing in the treatment of anxiety, mood, and
interpersonal disorders with adults and children. He has practiced in Palm Beach
County for over 20 years, working in schools, psychiatric facilities, and the private
sector.
In 1996, upon the completion of his Doctoral Clinical Internship at the Veterans
Affairs Medical Center in Virginia, Dr. Heywood moved to Florida to serve his
Residency training at a community psychiatric hospital in WPB. He continued his
work the next 6 years providing neuropsychological evaluations, supervision, and
psychotherapy intervention services.
</p>
