@media (max-width: 600px) {
  .section-content-container {
    font-size: 15px;

    .top-section {
      .hero-image {
        width: 100%;
      }
    }

    .bottom-section {
      #signature {
        line-height: 5px;
        padding-top: 5px;
        border-top: solid 1px orange;

        p:first-child {
          font-weight: 700;
          font-style: italic;
        }
      }
    }
  }
}
// .top-section {
//   grid-area: top-section;
// }
// .middle-section {
//   grid-area: middle-section;
// }

// .bottom-section {
//   grid-area: bottom-section;
// }

// .section-content-container {
//   // display: grid;
//   // grid-template-areas:
//   //   'top-section'
//   //   'middle-section'
//   //   'bottom-section'
// }
