@media only screen and (max-width: 600px) {
  .section-content-container {
    font-size: 15px;

    .top-section {
      .hero-image {
        width: 100%;
      }
    }

    .bottom-section {
      #signature {
        line-height: 5px;
        padding-top: 5px;
        border-top: solid 1px orange;

        p:first-child {
          font-weight: 700;
          font-style: italic;
        }
      }
    }
  }
}












@media only screen and(min-width: 600px) {

  .hero-image {
    width: 100%;
  }
  .section-content-container {
    font-size: 15px;

    .top-section {
      .hero-image {
        width: 100%;
      }
    }

    .bottom-section {
      #signature {
        line-height: 5px;
        padding-top: 5px;
        border-top: solid 1px orange;

        p:first-child {
          font-weight: 700;
          font-style: italic;
        }
      }
    }
  }
}


// @media only screen and(min-width: 824px) {
//   .top-section {
//     grid-area: top-section;
//   }
//   .middle-section {
//     grid-area: middle-section;
//   }
//   .bottom-section {
//     grid-area: bottom-section;
//   }
//   .section-content-container {
//     height: 100%;
//     display: grid;
//     grid-template-columns: .2fr auto .2fr;
//     grid-template-rows: repeat(3, 1fr);
//     grid-template-areas:
//       '. top-section .'
//       '. middle-section .'
//       '. bottom-section .';
//   }
// }
