<div class="section-content-container">
  <div class="top-section">
      <img class="z-depth-1 hero-image" src="../../../assets/beach_1.jpg">
  </div>
  <div class="middle-section">
  </div>
  <div class="bottom-section">
    <p>
      Individuals sometimes benefit more rapidly and profoundly from group
      therapeutic interventions. Frequently there is an established or common goal
      among members to achieve some skill set or awareness regarding social identity
      and self-esteem. Dynamic interactions, being “present”, and offering/receiving
      feedback shapes awareness and social maturity.
    </p>
    <p>
      These valuable learning
      experiences rarely present in “the real world”. Individuals are initially evaluated
      and screened to assess their need for Group Psychotherapy, and contract to
      meet typically at least four sessions prior to the final or “processing” meeting.
      Due to the economics of Group Psychotherapy, patients often attend for months.
    </p>
  </div>
</div>
