<div class="section-content-container">
  <div class="top-section">
    <img id="profile-photo" class="z-depth-1" src="../../../assets/peter-heywood.JPG">
  </div>
  <div class="middle-section">
    <h2>Welcome</h2>
  </div>
  <div class="bottom-section">
      <p>
        You've just taken the important first step to personal change! It's exciting to think
        that brighter times are ahead for you; new and deeper relationships, creative
        expression of your unique talents, and becoming unshackled to past cycles of
        emotional pain.
      </p>
      <p>
        I have attempted to outline what to expect when you contact me for psychological
        consultation. I wanted to make it clear and simple to understand how to
        Psychologists intervene to promote emotional health and learning. It is my belief
        that the power to heal resides within all of us; it is my goal to be be the catalyst
        for connecting with that potential.
      </p>
      <p>
        Please feel free to review my background, philosophy, and psychological
        services. Then contact me when you are ready for a new chapter of your life.
        Best wishes for the future.
      </p>
      <div id="signature">
        <p>
          Dr. Peter G. Heywood
        </p>
        <p>
          Florida Licensed Psychologist
        </p>
      </div>
  </div>
</div>
