<div class="section-content-container">
  <div class="top-section">
      <img class="z-depth-1 hero-image" src="../../../assets/beach_1.jpg">
  </div>
  <div class="middle-section">
  </div>
  <div class="bottom-section">
    <p>
      Dr. Heywood earned his Bachelor of Science in Psychology from Virginia Commonwealth
      University in 1986 where he began in philosophy and religious studies and progressed to
      neuroscience at the Medical College of Virginia publishing several articles in Neurology. In
      1988, Dr. Heywood was awarded a Master of Science in Rehabilitation at VCU-MCV and
      continued his clinical research until beginning doctoral studies at University of
      Missouri-Columbia earning a Doctor of Philosophy in 1996.
    </p>
    <p>
      Dissertation work focused on brain configuration and the use of an imagery model for
      physiological relaxation; later professional interests would include hypnosis, somatic, and other
      therapeutic interventions for treating anxiety. Dr. Heywood specializes in personality and the
      mind-body connection to design unique treatment interventions for individuals.
    </p>
    <h4>“Psychotherapeutic intervention is both an art and a Science”.</h4>
  </div>
</div>
