<div class="section-content-container">
  <div class="top-section">
      <img class="z-depth-1 hero-image" src="../../../assets/beach_1.jpg">
  </div>
  <div class="middle-section">
  </div>
  <div class="bottom-section">
    <p>
      Face to face individual meetings usually lasting 60 minutes continue the
      evaluation process to some degree, but gradually evolve to include exploring
      clinical insights and sharing cognitive, emotional, and behavioral skill sets. Over
      time the general goal is for patients to achieve and maintain a higher sense of
      self-awareness thus breaking free from painful emotional cycles.
    </p>
    <p>
      Psychotherapeutic intervention strategies and styles are designed to address the
      unique circumstances and characteristics for each individual. No two are alike;
      true psychotherapy incorporates both science and art to create meaningful and
      emotionally profound healing.
    </p>
    <h3>
      Treatment Modalities include but are not limited to:
    </h3>
    <ul>
      <li>
        Object-Relations and Psychodynamic perspectives
      </li>
      <li>
        Gestalt experiential and somatic approaches
      </li>
      <li>
        Cognitive-Behavioral training techniques and anger management
      </li>
      <li>
        Hypnosis, relaxation training, and visual imagery
      </li>
    </ul>
    <p>
      Psychiatric medication is sometimes an important component in the treatment of
      certain psychological disorders. Although these are not prescribed or managed
      here, collaboration with the physician is provided to coordinate services.
    </p>
  </div>
</div>
