@media only screen and (max-width: 600px) {
  .services-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    margin-top: -10px;

    .service-card {
      margin-top: 15px;

      mat-card {
        height: 100%;
        background-color: orange;

      }

      mat-card-title {
        font-size: 19px;
        font-style: italic;
      }
    }
  }
}



@media only screen and(min-width: 600px) and (max-width: 823px) {
  .services-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    margin-top: -10px;

    .service-card {
      margin-top: 15px;

      mat-card {
        background-color: orange;
      }

      mat-card-title {
        font-size: 19px;
        font-style: italic;
      }
    }
  }
}








@media only screen and(min-width: 823px) {

  .services-header {
    grid-area: services-header;
    padding: 20px;
  }

  .service-card {
    mat-card {
      padding: 55px;
      text-align: center;
      align-self: center;
      background-color: orange;

      min-height: 200px;
      margin-bottom: 20px;
    }
  }

  .service-card-0 {
    grid-area: service-card-0;
  }
  .service-card-1 {
    grid-area: service-card-1;
  }
  .service-card-2 {
    grid-area: service-card-2;
  }
  .service-card-3 {
    grid-area: service-card-3;
  }
  .services-container {
    height: 100%;
    display: grid;
    grid-template-columns: .2fr auto .2fr;
    grid-template-rows: repeat(5, .25fr);
    grid-template-areas:
      '. services-header .'
      '. service-card-0 .'
      '. service-card-1 .'
      '. service-card-2 .'
      '. service-card-3 .';
  }
}
