<div class="section-content-container">
  <div class="top-section">
      <img class="z-depth-1 hero-image" src="../../../assets/beach_1.jpg">
  </div>
  <div class="middle-section">
  </div>
  <div class="bottom-section">
    <p>
      Communication skills training and awareness involves both individual and
      conjoint meetings. An Initial evaluation is performed with one or both members
      of the relationship, and a conjoint discussion of treatment objectives follows.
    </p>
    <p>
      Skill sets are presented and modeled within sessions to be practiced at home. Over
      time awareness evolves and is maintained by couples who possess an earnest
      desire for change.
    </p>
  </div>
</div>
